/* ================= goolge fonts=============== */

*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* ======================== common setup ================= */

.hr-1{
    width: 99%;
    margin-top: 5%;
}
.hr-2{
    width: 99%;
}
.extra{
    float: right;
    margin-right: 100px;
    color: crimson;
}

/* =========================nav========================= */
.nav-title{
    margin-left: 10%;
    padding-top: 30px;
    color: #3A3A3A;
}

/* ==================== feature section ================== */
.feature-section{
    
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x:660px ;
}
.feature-items{
    display: flex;
    margin-top: 5%;
}
.feature-header{
    width: 540px;
    margin-left: 10%;
}
.feature-title{
    font-size: 50px;
    color: #3A3A3A;
    font-weight: bold;
    margin-bottom: 0;
}
.feature-img img{
    width: 400px;
    margin-top: 10%;
}
.feature-para{
    font-size: 15px;
    width: 500px;
}
button{
    margin-top: 20px;
    background-color: #E02C6D;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    color: #fff;
    font-weight: bold;
}

button:hover{
    background-color: orchid;
    transition: background-color 1s ease;
}

.feature-items img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-widht:800px){
    .feature-items{
        width: 100%;
        flex-direction: column;
    }
}
/* =========================== logo section ====================== */

.logo-items{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.logo-items .logos{
    padding:0 30px 0 30px;
}

/* ================================ Popular Section ================== */

.popular-title{
    color: #3A3A3A;
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 3% 10%;
}
.popular-products{
    border-radius: 10px;
    width: 330px;
    height: 470px;
    box-shadow:-3px 3px 20px 3px rgb(230, 228, 228);
}
.products{
    padding: 15px;
}
.products h3{
    margin-top: 0;
    font-size: 18px;
}
.products img{
    border-radius: 10px;
}
.products p{
    font-size: 15px;
}
.stars .filled{
    color: orange;
}

@media screen and (max-width: 800px) {
    .product-items {
        width: 100%;
    }
    .popular-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-title{
        text-align: center;
        padding: 20px
    }
  }

/* ========================= Customer Feedback =================== */

.customer-title{
    color: #3A3A3A;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 20px;
}
.customer-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.customers{
    text-align: center;
}
.customers h3{
    color: crimson;
}
.customers img{
    width: 100px;
}

@media screen and (max-widht:800px) {
    .customer-details{
        width: 100%;
    }
    .customer-details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
/* ================================= footer section ============== */

footer{
    background-color: rgb(8, 8, 32);
    margin-top: 10%;
}
.copywrite{
    padding: 40px;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
}
.copywrite h1{
    font-size: 20px;
}
.copywrite p{
    font-size: 15px;
}
.social-links{
    margin-left: 16px;
    text-align: center;
    padding-bottom: 40px;
    color: #fff;
}
.social-links i{
    padding-right: 20px;
}